#IntelliJ IDEA files
algorithms-at-hand-java/.idea
algorithms-at-hand-java/*.iml

#Compilation output
*.class
algorithms-at-hand-java/target
algorithms-at-hand-haskell/dist

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
